    <div class='w-full py-3 border-b'>

      <div class='flex justify-between px-20 items-center font-semibold'>
        <div>
          <h1 class="text-2xl">VETERINARIA SOFTCARIBBEAN</h1>
        </div>
        <div class='flex xl:gap-10 md:gap-8  gap-2'>
          <a href="/home/home-view">Galería</a>
          <a href="/home/mascotas-list">Listado De Mascotas</a>
        </div>
        <div class="flex">
          <button class='py-2 px-6 bg-black text-white rounded-3xl font-semibold'>Sebastián Flórez Rivera</button>
          <button class='py-2 px-6 bg-red-600 text-white rounded-3xl font-semibold ml-4'><a href="/login">Cerrar Sesión</a></button>
        </div>
      </div>
      
    </div>

